body {
    background-color: white;
}
.Top img{
    float: right;
    margin-right: 150px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 10px;
    border: 5px solid aquamarine;
}
.Top{
overflow: auto;
height: 320px;
}
.Top h1{
margin-left: 120px;
margin-top: 100px;
color: aqua;
padding-bottom: 15px;
border-bottom-style: solid ;
border-bottom-width: 3px;
width: 60px;
}
.Projects img {
    border-radius: 50%;
}

.projects {
    width: 100%;
    height: 450px;
    display: flex;
}

#C_box {
    margin-top: 10px;
    height: 400px;
    width: 320px;
    border: 2px dashed rgb(69, 154, 41);
    border-radius: 30px;
    text-align: justify;
    font-size: large;
    padding: 20px;
    margin-left: 300px;
    background-color: bisque;
}

#Web_box {
    margin-top: 10px;
    height: 400px;
    width: 320px;
    border: 2px dashed rgb(69, 154, 41);
    border-radius: 30px;
    text-align: justify;
    font-size: large;
    padding: 20px;
    margin-left: 50px;
    background-color: bisque;
}

.Projects {
    display: flex;
    padding: 20px;
}

.Clock {
    margin-left: 300px;
}

.Cal {
    margin-left: 100px;

}

.Projects1 {
    display: flex;
    padding: 20px;
    margin-left: 300px;
}
.Clgweb{
    margin-left: 150px;
}
.Projects1 a {
    text-decoration: none;
    color: cornflowerblue;
    font-size: medium;
}
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
    background-color: white;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}
.nextpg img {
    float: right;
    margin-right: 80px;
    margin-top: -10px;
}
.nextpg {
    margin-left: 50px;
}








































































